
/*-------------------------------- Created By Jerin Jahan (30.11.2017) -------------------------------*/



body{
	width: 100%; height:100%; background-color: #ddd;
}

.grid {
  width: 100%;
  height:73vh;
}
.ui-grid-header-cell-row {
	word-wrap: break-word;
}

.ui-grid-header-cell-row .ui-grid-invisible {
    display: none;
}

div[role="columnheader"] {
	display: table;
	width: 100%;
}


.ui-grid-header-cell .ui-grid-cell-contents {
	height: 78px;
	white-space: normal !important;
	-ms-text-overflow: clip;
	-o-text-overflow: clip;
	text-overflow: clip;
	overflow: visible;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 2px;
	word-wrap: break-word;
	/* word-break: break-all; */
}


.ui-grid-cell {
	border-right: 1px solid #efefef;
}
 .ui-grid-header-cell {
	 border-right: 1px solid #efefef;
 }

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: gainsboro;
}
.ui-grid-row  .ui-grid-cell {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.ui-grid-row:nth-child(odd) .ui-grid-cell, .ui-grid-row:nth-child(even) .ui-grid-cell {
    /* padding: 5px; */
	min-height: 93px;
	word-wrap: break-word;
	white-space: normal !important;
	word-break: break-all;
	overflow-y: auto;
}
.ui-grid-cell-contents {
    white-space: normal !important;
	/* align-content: stretch; */
	overflow:auto;
	text-align: center;
}

.navbar {  border-radius: 0px;  background-color: #001938;  }
.navbar-brand-right{
	float: right;
	position: absolute;
	right: 0;
	top: 2px;
}

.container{  padding-top: 10px;  }
.list-group-item{
	margin-bottom: 5px;
	border-radius: 0px;
	background-color: gainsboro;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


.m-table:nth-child(even){  background: gainsboro;  }
.ui-select-placeholder, .ui-select-match-text {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 40px;
}


.text-center{  text-align: center;  }
.class-fluidman{  background-color: rgb(51,204,51);  }
.class-maschbed{  background-color: rgb(0,112,192);  color:#fff;  }
.class-einrichter{  background-color: rgb(112,48,160);  color:#fff;  }
.class-ins{  background-color: #4aa4f7;  color:#fff;  }
.class-insel{  background-color: #794044;  color:#fff;  }
.class-schichtfu{  background-color: rgb(255,192,0); color:#fff; }


.nav-link{color:#fff!important;}
.nav-link:hover{color:#fff!important;}
.liClass_1{
	background: #3c8dbc!important;
	border-color: #3c8dbc!important;
	color: #fff!important;
}
.liClass_1 a{color: #fff!important;}
.liClass_2{
	background: #00a65a!important;
	border-color: #00a65a!important;
	color: #fff!important;
}
.liClass_2 a{color: #fff!important;}
.liClass_3{
	background: #605ca8 !important;
	border-color: #605ca8 !important;
	color: #fff!important;
}
.liClass_3 a{color: #fff!important;}
.liClass_4{
	background: #f39c12!important;
	border-color: #f39c12!important;
	color: #fff!important;
}
.liClass_4 a{color: #fff!important;}
.liClass_5{
	background: #001f3f !important;
	border-color: #001f3f !important;
	color: #fff!important;
}
.liClass_5 a{color: #fff!important;}

#tbl_pros{border: 1px solid #686868 !important;}
#tbl_pros td,#tbl_pros tr,#tbl_pros th {border: 1px solid #686868!important;}
.text-center{  text-align: center;color:#fff;  }
.class-fluidman{  background-color: #FF5733;color:#fff;  }
.class-maschbed{  background-color: #6EFF33;  color:#fff;  }
.class-einrichter{  background-color: #FCFF33;  color:#fff;  }
.class-ins{  background-color: #B833FF;  color:#fff;  }
.class-insel{  background-color: #FF3386;  color:#fff;  }
.class-schichtfu{  background-color: #33A8FF; color:#fff;  }

#mdl_new_prc .modal-dialog{max-width: 70%!important;}
#mdl_new_prc_body{height: 70vh;overflow-y: auto;}
#mdl_new_prc h6,#mdl_new_prc label{font-weight: bold;}

#tbl_color .jscolor{text-align: center!important;}
